@{
    ViewData["Title"] = "Home Page";
}

<div class="dart" style="margin-top: 160px">
	<h5 class="dark">What interests you?</h5>
</div>

<div class="container-1">
	<h4>Fiction Books</h4>
	<h4>Non-Fiction Books</h4>
	<h4>CD Genres</h4>
	</div>






	<div class="div1">
	</div> 

<div class="div1">
	<a href="#" class="btn b-1">Drama</a>
	<a href="#" class="btn b-2">Horror</a>
	<a href="#" class="btn b-1">Mystery</a>
	<a href="#" class="btn b-2">Sci-fi</a>
</div>

<div class="div2">
	<a href="#" class="btn b-1">Art</a>
	<a href="#" class="btn b-2">Biography</a>
	<a href="#" class="btn b-2">Sports</a>
	<a href="#" class="btn b-2">Travel</a>
</div> 

<div class="div2" style="padding-right:30px">
	</div> 

	<div class="div3">
	</div>

<div class="div3">
	<a href="#" class="btn b-1">Blues</a>
	<a href="#" class="btn b-2">Classical</a>
	<a href="#" class="btn b-1">Folk</a>
	<a href="#" class="btn b-2">Hip-Hop</a>
	<a href="#" class="btn b-1">Rap</a>
	<a href="#" class="btn b-2">Raggae</a>
	<a href="#" class="btn b-1">Rock</a>
</div> 
	



<!-- !PAGE CONTENT! -->
@* <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px"></div>
 *@
	<!-- First Photo Grid-->

<div>
	<a asp-controller="Category" asp-action="Index" class="w3-bar-item w3-button">Category</a>
	<a asp-controller="Genre" asp-action="Index" class="w3-bar-item w3-button">Genre</a>
	<a asp-controller="Book" asp-action="Index" class="w3-bar-item w3-button">Books</a>
	<a asp-controller="Review" asp-action="Index" class="w3-bar-item w3-button">Review</a>
</div>


	<div class="w3-row-padding w3-padding-16 w3-center" id="food">
		<div class="w3-quarter">
			<img src="/image/book1.jpeg" alt="Sandwich" style="width:100%">
			<h3>The Perfect WILD BOOK about NYC Classic</h3>
			<p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
		</div>
		<div class="w3-quarter">
			<img src="/image/book2.jpeg" alt="Steak" style="width:100%">
			<h3>Let Me Tell You About <span>JAMES PATTERSON</span></h3>
			<p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
		</div>
		<div class="w3-quarter">
			<img src="/image/book3.jpeg" alt="Cherries" style="width:100%">
			<h3>Final stage, Cherries interrupted</h3>
			<p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
			<p>What else?</p>
		</div>
		<div class="w3-quarter">
			<img src="/image/Winning Again.jpg" alt="Pasta and Wine" style="width:100%">
			<h3>Once Again, Robust BOOK TITLE</h3>
			<p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
		</div>
	</div>

	<!-- Second Photo Grid-->
	<div class="w3-row-padding w3-padding-16 w3-center">
		<div class="w3-quarter">
			<img src="/image/Someday by David Levithan.jpg" alt="Popsicle" style="width:100%">
			<h3>SOMEDAY, All I Need Is a Popsicle</h3>
			<p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
		</div>
		<div class="w3-quarter">
			<img src="/image/book5.jpeg" alt="Salmon" style="width:100%">
			<h3>Salmon For Your Skin- LUCKY STAR</h3>
			<p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
		</div>
		<div class="w3-quarter">
			<img src="/image/book6.jpeg" alt="Sandwich" style="width:100%">
			<h3>The Perfect Sandwich, A Real Classic RELIC</h3>
			<p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
		</div>
		<div class="w3-quarter">
			<img src="/image/book7.jpeg" alt="Croissant" style="width:100%">
			<h3>Le French REFRACT</h3>
			<p>Lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
		</div>
	</div>


	<!-- Third Photo Grid-->
	<div class="w3-row-padding w3-padding-16 w3-center">
		<div class="w3-quarter">
			<img src="/image/book4.jpeg" alt="Popsicle" style="width:100%">
			<h3>SHADOW THRONE</h3>
			<p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
		</div>
		<div class="w3-quarter">
			<img src="/image/book9.jpeg" alt="Salmon" style="width:100%">
			<h3>ENCELADUS</h3>
			<p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
		</div>
		<div class="w3-quarter">
			<img src="/image/book10.jpeg" alt="Sandwich" style="width:100%">
			<h3>RABBIT CAKE, A Perfect Sandwich</h3>
			<p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
		</div>
		<div class="w3-quarter">
			<img src="/image/book11.jpeg" alt="Croissant" style="width:100%">
			<h3>Le French </h3>
			<p>Lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
		</div>
	</div>

	<!-- Fourth Photo Grid-->
	<div class="w3-row-padding w3-padding-12 w3-center">
		<div class="w3-quarter">
			<img src="/image/Winning Again.jpg" alt="Popsicle" style="width:100%">
			<h3>All I Need Is a Popsicle</h3>
			<p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
		</div>
		<div class="w3-quarter">
			<img src="/image/book14.jpeg" alt="Salmon" style="width:100%">
			<h3>Salmon For Your Skin</h3>
			<p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
		</div>
		<div class="w3-quarter">
			<img src="/image/book15.jpeg" alt="Sandwich" style="width:100%">
			<h3>The Perfect Sandwich, A Real Classic</h3>
			<p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
		</div>
		<div class="w3-quarter">
			<img src="/image/book16.jpeg" alt="Croissant" style="width:100%">
			<h3>Le French</h3>
			<p>Lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
		</div>
	</div>

	@* <!-- Pagination -->
	<div class="w3-center w3-padding-32">
		<div class="w3-bar">
			<a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
			<a href="#" class="w3-bar-item w3-black w3-button">1</a>
			<a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
			<a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
			<a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
			<a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
		</div>
	</div> *@



	
